@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Movie Library</h1>
    <p class="lead">Welcome @User.Identity.Name!</p>
</div>

<div id="accordion">
    <h3>Search for Movies</h3>
    <div id="accorResize" class="search">
        <label>Title</label> <input type="text" id="title" />
        <label> Year</label> <input type="text" id="year" onkeydown="if (event.keyCode == 13) document.getElementById('btnSearch').click()" />
        <input type="button" id="btnSearch" value="Search" onclick="Search();" />
        <div class="movies">
            <p style="color:lightgrey; padding-left:10px; padding-top:10px">
                search results
            </p>
        </div>
    </div>
    <h3>View Movie Library</h3>
    <div id ="accorResize">
        <div class="library"></div>
    </div>
</div>
