

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Movie Library</h1>
    <p class="lead">Welcome @User.Identity.Name!</p>
</div>

<div class="row">
    <div class="search">
       <label>Title</label> <input type="text" id="title" />
       <label> Year</label> <input type="text" id="year" onkeydown="if (event.keyCode == 13) document.getElementById('btnSearch').click()" />
        <input type="button" id="btnSearch" value="Search" onclick="PostSearch();" />
        <div class="movies"></div>
    </div>
    @*<div class="col-md-4">